/* COULEUR */
/* 
  bleu: #112C70
  bleu clair: #5B58EB
  mauve: #BB63FF
  turquoi: #56E1E9
  bleu marine: #0A2353
*/

/* 
#438CCD
#662E9B
#EA3546
#F86624
#F9C80E */

/* 
40315B
A56DBC
FF7EFD
73F4E6
348C80
194690
0E195F

020F0E
021B1B
6F7E7C
AACAC3
F1F7F7 */

